SNAP_DATABASE_URL=postgres://snap:snap@127.0.0.1:55432/snap?sslmode=disable
SNAP_API_ADDRESS=127.0.0.1:8090
SNAP_ENV=local
SNAP_ALLOWED_ORIGINS=http://127.0.0.1:5173,http://127.0.0.1:5174
SNAP_MIGRATIONS_PATH=migrations
